
learning/vectorization/__pycache__/

learning/__pycache__/

learning/classification/__pycache__/__init__\.cpython-36\.pyc

*.pyc
*.tsv
*.csv

keyword_extraction/\.vector_cache/

keyword_extraction/\data/

keyword_extraction/\embeddings/

diluted_conv/datasets
diluted_conv/embeddings/

diluted_conv/results/
diluted_conv/\.vector_cache/

conditioned_layers/data/

conditioned_layers/datasets/

conditioned_layers/embeddings/

conditioned_layers/experiments/datasets/

conditioned_layers/training/analyse_results/grouped_results/

conditioned_layers/training/analyse_results/report.txt

conditioned_layers/experiments/baseline_cnn_mnist_grid_T_12/results/

conditioned_layers/experiments/baseline_cnn_mnist_grid_T_8/results/

conditioned_layers/experiments/baseline_mlp_mnist_comparisons/results/

conditioned_layers/experiments/policy_cnn_mnist_grid_T_12/results/

conditioned_layers/experiments/policy_cnn_mnist_grid_T_4/results/

conditioned_layers/experiments/policy_cnn_mnist_grid_T_8/results/


conditioned_layers/experiments/baseline_cnn_mnist_grid_T_4/results/

conditioned_layers/experiments/policy_mlp_mnist_comparisons/results/

conditioned_layers/experiments/policy_mlp_mnist_comparisons/data/

conditioned_layers/experiments/baseline_cnn_cifar_tests/results/

conditioned_layers/experiments/factorized_policy_hypernet_cifar/results/

conditioned_layers/experiments/baseline_hypernet_cifar/results/
